@import url(https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&display=swap);
@import url(https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css);

@layer utilities {
    .content-auto {
      content-visibility: auto;
    }
  }
  @layer components {
      .navigation-inner {
          height: 70px;
          grid-column-gap: 30px;
          grid-row-gap: 20px;
          padding-left: 50px;
          padding-right: 15px;
          display: flex;
      }
      .navigation-links {
          grid-column-gap: 30px;
          grid-row-gap: 30px;
          justify-content: center;
          align-items: center;
          display: flex;
      }
      .nav-link {
          height: 20px;
          color: #333;
          text-decoration: none;
          overflow: hidden;
          max-width: 100%;
          display: inline-block;
          font-size: 18px;
      }
      .btn {
          color: #825589;
          text-align: center;
          border:  solid 3px #825589;
          border-radius: 8px;
          justify-content: center;
          align-items: center;
          padding: 4px 15px;
          font-size: 18px;
          font-weight: 500;
          line-height: 20px;
          transition: all .2s cubic-bezier(.645, .045, .355, 1);
          display: flex;
          height: 45px;
          font-weight: 600;
      }
      #about, #projects, #contacts {
        padding-top: 70px;
      }
  }